//@import 'icomoon/style.css';
@import 'utilities/reset';
@import 'utilities/variables';
@import 'utilities/mq';
@import 'utilities/animations';
@import 'utilities/utility';
@import 'utilities/forms';
@import 'utilities/transitions';
@import 'partials/landing';
@import 'partials/scrollbars';
@import 'partials/confirm';

@font-face {
    font-family: "HC";
    src: url('/fonts/HC-book.woff') format('woff'), /* Pretty Modern Browsers */
         url("/fonts/HC-book.ttf") format('truetype');
}
@font-face {
    font-family: "HC";
    src: url('/fonts/HC-bold.woff') format('woff'),
         url("/fonts/HC-bold.ttf") format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "HC";
    src: url('/fonts/HC-light.woff') format('woff'),
         url("/fonts/HC-light.ttf") format('truetype');
    font-weight: 300;
}

.glass {
    background-color: rgba(255,255,255,.05);
    background-image: url(/images/main-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 6px rgba(0,0,0,.5);
}

:root {
    font-size: 1vw;

    @include mobile {
        font-size: 3.5vw;
    }
}

body {
    background-color: var(--near-white);
    font-family: var(--primary-font);
}

.background__wrap {
    position: fixed;
    z-index: -1;
    background-image: url('/images/main-background.jpg');
}


.alert {
    font-size: 1.2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    margin: 1rem;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.4;
    font-family: var(--secondary-font);
}

.alert-success {
    background-color: var(--primary-color);
}


.toggle {
    cursor: pointer;
    padding: 1vw;
    background-color: rgba(0,0,0,.8);
    color: var(--highlight-color);
    position: absolute;
    z-index: 2;
}


.edit-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--highlight-color);
    background-color: rgba(0,0,0,.7);
    font-size: .9rem;
    box-shadow: inset 0 0 7px rgba(0,0,0,.6);
    z-index: 2;
}

.edit-panel__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
}

.action-button {
    background-color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    font-size: 1.5rem;
    border-radius: 50%;
    z-index: 2;
    color: var(--primary-dark);
    right: 1rem;
    box-shadow: 0 2px 5px 1px rgba(0,0,0, .4);

    &.shift-up {
        position: absolute;
        top: 0;
        transform: translateY(-30%);
    }

    &.shift-down {
        position: absolute;
        bottom: 0;
        transform: translateY(30%);
    }
}
