@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?46lqv');
  src:  url('/fonts/icomoon.eot?46lqv#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.woff2?46lqv') format('woff2'),
    url('/fonts/icomoon.ttf?46lqv') format('truetype'),
    url('/fonts/icomoon.woff?46lqv') format('woff'),
    url('/fonts/icomoon.svg?46lqv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sort:before {
  content: "\e91c";
}
.icon-edit:before {
  content: "\e904";
}
.icon-upload:before {
  content: "\e917";
}
.icon-prev:before {
  content: "\e911";
}
.icon-next:before {
  content: "\e914";
}
.icon-food:before {
  content: "\e91b";
}
.icon-user:before {
  content: "\e91e";
}
.icon-checkbox:before {
  content: "\e915";
}
.icon-checkbox_unchecked:before {
  content: "\e916";
}
.icon-star_half:before {
  content: "\e91a";
}
.icon-external:before {
  content: "\e90f";
}
.icon-add_post:before {
  content: "\e900";
}
.icon-add_photo:before {
  content: "\e913";
}
.icon-help:before {
  content: "\e908";
}
.icon-corner:before {
  content: "\e90b";
}
.icon-clock:before {
  content: "\e910";
}
.icon-plus:before {
  content: "\e90d";
}
.icon-picture:before {
  content: "\e90e";
}
.icon-block:before {
  content: "\e919";
}
.icon-check:before {
  content: "\e902";
}
.icon-settings:before {
  content: "\e918";
}
.icon-clip:before {
  content: "\e90c";
}
.icon-unchecked:before {
  content: "\e906";
}
.icon-star:before {
  content: "\e912";
}
.icon-trash:before {
  content: "\e903";
}
.icon-tag:before {
  content: "\e905";
}
.icon-pin:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e909";
}
.icon-x:before {
  content: "\e90a";
}
.icon-sort_asc:before {
  content: "\e91d";
}
.icon-sort_desc:before {
  content: "\e901";
}
