
/**
    slide
**/

.slide-enter-active, .slide-leave-active {
     transition: transform .3s;
 }

.slide-enter {
    transform: translateX(-100%);
}

.slide-leave-to {
    transform: translateX(-100%);
}


/**
    Right
**/

.right-enter-active, .right-leave-active {
    transition: transform .2s linear;
}

.right-enter, .right-leave-to {
    transform: translateX(-100%);
}



/**
    Slide Down
**/

.slide-down-enter-active, .slide-down-leave-active {
    transition: transform .3s;
}

.slide-down-enter {
    transform: translateY(-100%);
}

.slide-down-leave-to {
    transform: translateY(-100%);
}


/**
    collapse
**/

.collapse-enter-active, .collapse-leave-active {
    transition: max-height .2s;
    overflow: hidden;
}

.collapse-enter-to, .collapse-leave {
    max-height: 100vh;
    overflow: hidden;
}

.collapse-leave-to, .collapse-enter {
    max-height: 0;
    overflow: hidden;
}


